$primary: hsl(158, 36%, 37%);
$primary-dark: hsl(158, 36%, 20%);


$secondary: hsl(30, 38%, 92%);

$neutral-1:hsl(212, 21%, 14%);
$neutral-2:hsl(228, 12%, 48%);
$neutral-3:hsl(0, 0%, 100%);

/*  ||  FONTS   ||  */
$fs-1: 0.5rem;
$fs-2: 0.875rem;
$fs-3: 1rem;
$fs-4: 1.5rem;
$fs-5: 2rem;
$fs-6: 2rem;


$default-font-family: 'Montserrat', 'Segoe UI' , sans-serif;
$header-font-family: 'Fraunces', serif;

$fw-default: 500;
$fw-bold: 700;